{% extends "base.html" %}
{% block title %}home{% endblock %} 
{% block body%}
<div class="container">
    <div class="row">
     {% for i in prof%}
     <div class="col">
       <div class="card" style="width: 18rem;">
         <img src="{{i.image.url}}" class="card-img-top" alt="...">
         <div class="card-body">
           <h5 class="card-title">{{i.name}}</h5>
           <h5 class="card-title">{{i.email}}</h5>
           <p class="card-text"><h5 class="card-title">{{i.address}}</h5>.</p>
           <a href="{%url 'cv' i.id%}" class="btn btn-primary">Sce profil</a>
           <a href="{%url 'delete' i.id%}" class="btn btn-danger">Delete</a>
         </div>
       </div>
     </div>
     {% endfor %}
    </div>
   </div><br><br>

{% endblock%}